:root {
    --bg-color: #ffffff;
    --bg-secondary: #e1e1e1;
    --main-text: rgb(15, 15, 15);
    --text-secondary: rgb(96, 96, 96);
    --text-blue: rgb(6, 95, 212);
    --youtube-red: #ff0000;
    --splitters-gray: rgb(229, 229, 229);
    --button-default: rgb(6, 95, 212);
    --button-hover: rgb(5, 81, 176);
    --button-active: rgb(5, 65, 140);
    --button-background-hover: rgb(223, 236, 255);
    --button-background-active: rgb(201, 224, 255);
    --link-visited: rgb(154, 68, 151);
    --link-visited-hover: rgb(147, 0, 142)
}
[data-theme="dark"] {
    --bg-color: #0f0f0f;
    --bg-secondary: #252525;
    --main-text: rgb(241, 241, 241);
    --text-secondary: rgb(170, 170, 170);
    --text-blue: rgb(62, 166, 255);
    --splitters-gray: rgb(39, 39, 39);
    --button-default: rgb(62, 166, 255);
    --button-hover: rgb(89, 175, 255);
    --button-active: rgb(133, 201, 255);
    --button-background-hover: rgb(6, 35, 75);
    --button-background-active: rgb(20, 45, 82);
    --link-visited: rgb(204, 81, 177);
    --link-visited-hover: rgb(217, 124, 197)
}

/*** SCROLL BAR SETUP ***/
/* total width */
::-webkit-scrollbar {
    background-color: #282c34;
    width: 10px;
}

/* background of the scrollbar except button or resizer */
::-webkit-scrollbar-track {
    background-color: var(--bg-secondary);
    /*border-radius: 10px;*/
}

/*::-webkit-scrollbar-track:hover {*/
/*    background-color: #282c34;*/
/*}*/

/* scrollbar itself */
::-webkit-scrollbar-thumb {
    background-color: transparent;
    /*background-color: var(--bg-color);*/
    border-radius: 16px;
    border: 1px solid var(--text-secondary);
    min-height: 36px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--bg-color);
    /*border: 4px solid #f4f4f4;*/
}

/* set button(top and bottom of the scrollbar) */
::-webkit-scrollbar-button {
    display: none;
}

/*** END OF SCROLL BAR SETUP ***/
