.text-input-label {
    margin: 5px;
    font-size: 16px;
    font-weight: lighter;
    /*padding-right: 6px;*/
    width: fit-content;
    display: inline-block;
}
.text-input {
    color: var(--button-default);
    background-color: transparent;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid var(--button-default);
    margin: 5px;
    font-size: 13px;
}
.text-input:focus {
    outline: 1px solid var(--button-active);
}