.link {
    color: var(--main-text);
}
.link:hover {
    color: var(--text-blue);
}
.link:active {
    color: var(--youtube-red);
}
.link:visited {
    color: var(--link-visited);
}
.link:visited:hover {
    color: var(--link-visited-hover)
}