.search-container {
    border-bottom: 1px solid var(--splitters-gray);
    margin-bottom: 10px;
    padding-bottom: 2px;
}

.blocked-items-container {
    height: calc(100vh - 290px);
    overflow-y: auto;
    padding-right: 5px;
}

.overall-stats-container {
    margin-bottom: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--splitters-gray);
}

.overall {
    font-size: 1.5rem;
    margin-bottom: 6px;
}

.block-reason {
    margin: 2px;
    font-size: 1rem;
}

