.blocked-item {
    margin: auto;
    background-color: var(--bg-secondary);
    margin-block: 8px;
    padding: 10px;
    border-radius: 10px;
}
.item-channel-name {
    /*border-left: 1px solid var(--bg-color);*/
    margin-left: 15px;
    color: var(--text-secondary);
}
.search-container {
    width: fit-content;
}
.item-block-details {
    width: fit-content;
    margin-bottom: 4px;
}
.item-block-reason {
    margin-left: 20px;
    color: var(--text-secondary)
}
.item-yt-id {
    margin-left: 20px;
    color: var(--text-secondary);
}