.main-container {
    color: var(--main-text);
    background-color: var(--bg-color);
    height: 100%;
}

.sub-main-container {
    border-radius: 10px;
    /*flex: 1;*/
    /*padding-block: 5px;*/
    /*padding-inline: 10px;*/
    /*background-color: var(--bg-secondary);*/
}

h1 {
    margin: 0;
    padding: 15px;
}
