.checkbox-container {
    padding: 5px 0px;
    display: inline-block;
}

.checkbox-input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}
.checkbox-label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
}
.checkbox-label:before {
    content: '';
    position: absolute;
    /*top: 50%;*/
    /*margin-top: -10px;*/
    left: 0;
    /*display: block;*/
    height: 20px;
    width: 20px;
    background-color: var(--button-default);
    border-radius: 3px;
}
.checkbox-label:hover:before {
    background-color: var(--button-hover);
}
.checkbox-label:active:before {
    transform: scale(105%);
    transition: all 0.2s;
    background-color: var(--button-active);
}
.checkbox-label:active:after {
    transform: rotate(45deg) scale(105%);
    transition: all 0.1s;
}
.checkbox-label:after {
    content: '';
    position: absolute;
    left: 6px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid var(--bg-secondary);
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    opacity: 0.1;
    transition: all 0.2s;
}
input:checked + .checkbox-label:after {
    opacity: 1;
}
input:checked + .checkbox-label {
    color: var(--main-text);
}
