.blocked-item {
    width: 85%;
    min-width: 500px;
    margin: auto;
    background-color: var(--bg-secondary);
    margin-block: 8px;
    padding: 10px;
    border-radius: 10px;
}
.channel-name {
    /*border-left: 1px solid var(--bg-color);*/
    margin-left: 15px;
    color: var(--text-secondary);
}
.search-container {
    margin: auto;
    width: fit-content;
    /*margin: auto;*/
}
.block-details {
    width: fit-content;
    padding-bottom: 2px;
    margin-bottom: 2px;
    border-bottom: 1px solid var(--bg-color);
}