
html {
    color: var(--main-text);
    background-color: var(--bg-color);
    min-width: 800px;
}
body {
    overflow-y: hidden;
    margin: 0;
    padding-block: 15px;
    padding-inline: 30px;
}



