
html {
    color: var(--main-text);
    background-color: var(--bg-color);
    min-width: 800px;
}
body {
    margin: 0;
    padding-block: 15px;
    padding-inline: 30px;
}
body::-webkit-scrollbar {
    width: 1em;
    height: 1em;
}

body::-webkit-scrollbar-track {
    background-color: var(--bg-secondary);
}

body::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: var(--text-secondary);
    outline: 1px solid slategrey;
}



