html {
    height: 100vh;
}
body {
    height: 100%;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

#root {
    height: 100%;
}

:root {
    --bg-color: #ffffff;
    --bg-secondary: #e1e1e1;
    --main-text: rgb(15, 15, 15);
    --text-secondary: rgb(96, 96, 96);
    --text-blue: rgb(6, 95, 212);
    --youtube-red: #ff0000;
    --splitters-gray: rgb(229, 229, 229);
    --button-default: rgb(6, 95, 212);
    --button-hover: rgb(5, 81, 176);
    --button-active: rgb(5, 65, 140);
    --button-background-hover: rgb(223, 236, 255);
    --button-background-active: rgb(201, 224, 255);
}
[data-theme="dark"] {
    --bg-color: #0f0f0f;
    --bg-secondary: #252525;
    --main-text: rgb(241, 241, 241);
    --text-secondary: rgb(170, 170, 170);
    --text-blue: rgb(62, 166, 255);
    --splitters-gray: rgb(39, 39, 39);
    --button-default: rgb(62, 166, 255);
    --button-hover: rgb(89, 175, 255);
    --button-active: rgb(133, 201, 255);
    --button-background-hover: rgb(6, 35, 75);
    --button-background-active: rgb(20, 45, 82);
}

